{% extends 'AppForwardBundle::layout.html.twig' %}

{% block content %}
    <p>
        <h2>Votre liste d'adresses :</h2>
    </p>

{% for alias in aliases %}

    {% include 'AppForwardBundle:Components:alias.html.twig' with {'alias': alias} %}

{% endfor %}

{% endblock %}